$primary-font: 'Lato',sans-serif;
$primary-font-style: normal;
$primary-color:  #ed4c5c;
$secondary-color: #fff;

$grid-breakpoints: (
  'xs': 576px,
  'sm': 768px,
  'md': 992px,
  'lg': 1200px
);

$contanier-width: (
  'xs': 540px,
  'sm': 720px,
  'md': 960px,
  'lg': 1140px
);