body{
  font-family: 'Lato',sans-serif;
  font-style: normal;
}
.header{
  position: absolute;
  left: 0;
  top: 18px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;      
}
.container{
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.header_flex{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.link_logo {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
}
.link_logo:hover{
  color: #ee8308;
}
.link_logo:focus{
  color: #326610;
}
.nav {
  display: none;
}
.list_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list_item{
  margin-bottom: 5px;
}
.link_item{
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.link_item:hover{
  color: #0f2eb9;
}
.link_item:focus{
  color: #0cc734;
}
.right_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button_1{
  width: 54px;
  height: 32px;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0) 0%, rgba(238, 61, 27, 0) 100%);
}
.button_2{
  width: 54px;
  height: 32px;
  margin-left: 5px;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0) 0%, rgba(238, 61, 27, 0) 100%);
}
.button_2:hover{
  color: #440d8b;
  background: #fff;
}
.button_2:focus{
  color: #85ca16;
  background: #e9d30f;
}
.button_2:active{
  color: #2f92e4;
  background: #7a716f;
}
.flag_usa{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}
.language{
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
}
.login{
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
@media (min-width: 576px) {
  .container{
  max-width: 540px;
  }
  .nav {
    display: block;
    padding-top: 7px;
  }
  .list_nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .button_1{
    width: 80px;
  }
  .button_2{
    width: 80px;
    margin-left: 10px;
  }
  .image_flag_usa{
    padding-right: 5px;
  }
  .language{
    padding-right: 5px;
  }
}
@media (min-width: 768px) {
  .container{
  max-width: 720px;
  }
  .header_flex{
    padding-top: 10px;
    padding-bottom: 10px;
    }
  .list_nav{
    flex-direction: row;
  }
  .list_item{
    margin-left: 10px;
  }
  .link_item{
    font-size: 10px;
  }
}
@media (min-width: 992px) {
  .container{
  max-width: 960px;
  }
  .header_flex{
    padding-top: 20px;
    padding-bottom: 20px;
    }
  .nav {
    padding-top: 8px;
  }
  .link_item{
    font-size: 14px;
  }
  .button_1{
    width: 96px;
  }
  .flag_usa{
    justify-content: space-between; 
  }
  .button_2{
    width: 100px;
    height: 40px;
    margin-left: 23px;
  }
}
@media (min-width: 1200px) {
  .container{
  max-width: 1140px;
  }
  .header_flex{
    padding-top: 33px;
    padding-bottom: 27px;
    }
  .logo{
    width: 172px;
    height: 29px;
  }
  .nav {
    width: 445px;
    height: 22px;
    padding-top: 4px;
  }
}