.section_1{
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;    
  background: 
  linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),
  url('../images/image_section_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}
.section_1_box{
  padding-top: 257px;
  padding-bottom: 187px;
  }
.main_title{
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.descr_main_title{
  display: block;
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}
.button-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_section_1{
  text-align: center;
  width: 160px;
  height: 50px;
  padding: 16px 52px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border-radius: 6px;
  text-transform: uppercase;
  background: #fff;
  color: #Ed4c5c;
}
.button_section_1:hover{
  color: #440d8b;
  background: #fff;
}
.button_section_1:focus{
  color: #85ca16;
  background: #e9d30f;
}
.button_section_1:active{
  color: #2f92e4;
  background: #7a716f;
}
@media (min-width: 576px) {
  .container{
    max-width: 540px;
  }
  .main_title{
    font-size: 54px;
  }
  .descr_main_title{
    max-width: 300px;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .container{
  max-width: 720px;
  }
  .main_title{
    font-size: 66px;
  }
  .descr_main_title{
    max-width: 440px;
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .container{
  max-width: 960px;
  }
  .main_title{
    font-size: 72px;
  }
  .descr_main_title{
    max-width: 480px;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .container{
  max-width: 1140px;
  }
  .descr_main_title{
    width: 540px;
    height: 120px;
  }
}