.section_6{
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.section_6_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.section_6_title{
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
}
.text_section_6{
  margin: 24px 0 40px 0;
  text-align: justify;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  color: #000;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input{
  width: 255px;
  height: 60px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(19, 39, 67, 0.5);
  border: 1px solid #333;
  border-radius: 6px;
  margin-bottom: 24px;
  padding-left: 30px;
}
.button_section_6{
  width: 160px;
  height: 50px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
  background: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  border-radius: 6px;
}
.input:focus{
  outline: none;
  border: 5px solid #5701f7;
}
.button_section_6:hover{
  color: #440d8b;
  background: #fff;
}
.button_section_6:focus{
  color: #85ca16;
  background: #e9d30f;
}
.button_section_6:active{
  color: #2f92e4;
  background: #7a716f;
}
@media (min-width: 576px) {
  .container{
    max-width: 540px;
  }
  .section_6_title{
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .container{
    max-width: 720px;
  }
  .section_6_title{
    font-size: 36px;
  }
  .input_box{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 540px;
  }
  .input{
    margin-bottom: 0;
  }
  .input_big{
    width: 540px;
    height: 60px;
    margin-top: 24px;
  }
  .button_section_6{
    margin-top: 27px;
  }
}
@media (min-width: 992px) {
  .container{
    max-width: 960px;
  } 
  .section_6_flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 117px;
    padding-bottom: 78px;
  }
  .left_text_section_6{
    width: 445px;
    height: 160px;
    margin-right: 50px;
    margin-bottom: 145px;
  }
  .section_6_title{
    text-align: start;
    height: 107px;
  }
  .text_section_6{
    height: 64px;
    margin: 0;
  }
  .form{
    align-items: start;
  }
}
@media (min-width: 1200px) {
  .container{
    max-width: 1140px;
  }
  .left_text_section_6{
    margin-right: 125px;
  }
  .text_section_6{
    width: 445px;
  }
}