.section_2{
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto; 
}
.section_2_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.section_2_title{
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
}
.text_section_2{
  margin: 14px 0 10px 0;
  text-align: justify;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  color: #000;
}
.link_section_2{
  width: 71px;
  height: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  color: #Ed4c5c;
}
.link_section_2:hover{
  color: #4f16aa;
}
.link_section_2:focus{
  color: #0f090e;
}
.video_box{
  position: relative;
  margin-top: 40px;
  margin-bottom: 94px;
}
.play_button{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: auto;
  background: none;
  border: none;
}
@media (min-width: 576px) {
  .container{
    max-width: 540px;
  }
  .section_2_title{
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .container{
  max-width: 720px;
  }
  .section_2_title{
    font-size: 36px;
  }
  .text_section_2{
  margin: 24px 0 24px 0;
  }
}
@media (min-width: 992px) {
  .container{
  max-width: 960px;
  }
  .section_2_flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .left_text_section_2{
    width: 445px;
    height: 250px;
    margin-right: 60px;
  }
  .section_2_title{
    width: 445px;
    height: 107px;
    text-align: start;
  }
  .text_section_2{
    width: 445px;
    height: 85px;
    margin: 24px 0 10px 0;
  }
  .link_section_2{
    width: 71px;
    height: 20px;
  }
  .video_box{
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .container{
  max-width: 1140px;
  }
  .left_text_section_2{
    margin-right: 125px;
  }
  .text_section_2{
    margin-bottom: 24px;
  }
}